{{yield}}
<footer class="footer-links">
		<span class="logo">/Domovoi v0.01/</span>
		<a href="domovoi.com" target="_blank">Domovoi.com</a>
		<a href="mailto:support@domovoi.com">Contact Support</a>
</footer>