{{yield}}
<footer class="footer-status">
		<span class="system">System Status:</span>
		<span class="system-output">Ok</span>
		<span class="events">Events:</span>
		<span class="events-output">Scheduled change to scene "Morning Rhythm"</span>
		<span class="alerts">Alerts:</span>
		<span class="alerts-output">None</span>
</footer>
