{{yield}}
<div class="color-title">
	Color
</div>
<div class="color-buttons">
	{{#each colorButtons as |color|}}
		<button style={{color}}></button>
	{{/each}}
	<button class="button-white">White</button>
</div>