{{yield}}
<div class="mode-top">
	<button class="button-on">On</button>
</div>
<div class="mode-mid">
	<button class="button-off">Off</button>
	<button class="button-night">Night Light</button>
</div>
<div class="mode-bottom">
	<button class="button-mode">Mode</button>
	<button class="button-direction">{{fa-icon "chevron-up"}}</button>
	<button class="button-direction">{{fa-icon "chevron-down"}}</button>
</div>