@import "../modules/all";

.footer-status {
	position: fixed;
	width: 100%;
	height: 22px;
	bottom: 22px;
	left: 0;

	display: flex;
	align-items: flex-end;
	line-height: 22px;

	@include font-normal();
	box-shadow: $shadow-footer;
	color: $white;
	background-color: $black;

	span {
		padding: 0 10px 0 10px;
		//border-right: 1px solid $grey;
	}

	.system {
		flex: 1 1;
		text-align: right;	
	}

	.system-output {
		flex: 1 0;
		color: $black;
		background-color: $good;
	}

	.events {
		flex: 1;
		margin-left: 5px;
		text-align: right;
	}

	.events-output {
		flex: 9;
		text-align: left;
		color: $truewhite;
	}

	.alerts {
		flex: 1;
		border-left: 1px solid $grey;
		text-align: right;
	}

	.alerts-output {
		flex: 3;
		text-align: left;
		color: $truewhite;
	}
}