//Brand Colors
$brand1: rgba(25, 133, 161, 100);
$brand2: rgba(76, 92, 104, 100);

//Status Colors
$good: rgba(100, 220, 61, 100);
$alert: rgba(229, 89, 52, 100);
$warning: rgba(253, 231, 76, 100);

//Monochrome Colors
$white: rgba(220, 220, 221, 100);
$grey: rgba(197, 195, 198, 100);
$black: rgba(70, 73, 76, 100);
$dark-black: rgba(30, 30, 30, 100);
$truewhite: rgba(255, 255, 255, 100);

