//Box Shadows
$shadow-nav: 0px 2px 4px rgba(0, 0, 0, 0.4);
$shadow-navhover: 0px -1px 1px rgba(0, 0, 0, 0.5);
$shadow-footer: 0px -1px 4px rgba(0, 0, 0, 0.4);
$shadow-box: 1px 1px 3px rgba(0, 0, 0, 0.9);
$shadow-boxhover: 0px 0px 10px rgba(25, 133, 161, 100), 1px 1px 3px rgba(0, 0, 0, 0.9);
$shadow-header: 0px 1px 1px rgba(0, 0, 0, 0.5);
$shadow-button: 0px 1px 1px rgba(0, 0, 0, 0.5);

//Text Shadows
$shadow-text: 0px 0px 2px rgba(0, 0, 0, 0.1);
$shadow-logo: 0px 0px 1px rgba(220, 220, 221, 0.6);
$shadow-logosmall: 0px 0px 1px rgba(0, 0, 0, 0.5);
$shadow-icon: 0px 0px 1px rgba(0, 0, 0, 0.2);
$shadow-iconhover: 0px 0px 4px rgba(255, 255, 255, .6);
$shadow-link: 0px 0px 1px rgba(0, 0, 0, 0.3);